<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] | SWMC</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="~/lib/fa/css/all.css" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css"/>
    <!-- Page level plugin CSS-->
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet">
    <link rel="icon"
          type="image/png"
          href="~/favicon.png"/>
    
    <link rel="stylesheet" href="~/lib/chart.js/Chart.min.css" >
    <link rel="stylesheet" href="~/lib/select2/select2.min.css" >
    
    
<!-- Bootstrap core JavaScript-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="~/lib/chart.js/Chart.min.js"></script>
<script src="~/lib/datatables/datatables.min.js"></script>

<script src="~/lib/select2/select2.full.min.js"></script>   
<script src="~/lib/select2/en.js"></script>   

    
    <!-- Custom scripts for all pages-->
<script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" asp-controller="Dashboard" asp-action="Index">
        <img src="~/favicon.png" height="40px" class="p-1" alt="">
        Sea World Maritime Corporation
    </a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right mt-3" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>Applicant</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header">Applicant</h6>
                <a class="dropdown-item" asp-controller="Applicant" asp-action="CreateApplicant"><i class="fas fa-fw fa-plus"></i> Create New </a>
                <a class="dropdown-item" asp-controller="Applicant" asp-action="Index"><i class="fas fa-fw fa-file-alt"></i> Applicants</a>
                <a class="dropdown-item" asp-controller="Applicant" asp-action="Archived"><i class="fas fa-fw fa-archive"></i> Archived </a>
                <a class="dropdown-item" asp-controller="Applicant" asp-action="Skills"><i class="fas fa-fw fa-certificate"></i> Credential/Skills</a>
                <a class="dropdown-item" asp-controller="Applicant" asp-action="Documents"><i class="fas fa-fw fa-file"></i> Documents </a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Document Type</h6>
                <a class="dropdown-item" asp-controller="Applicant" asp-action="DocumentTypes"><i class="fas fa-fw fa-file-alt"></i> Document Types  </a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Positions</h6>
                <a class="dropdown-item" asp-controller="Applicant" asp-action="Positions" ><i class="fas fa-fw fa-users"></i> Manage Positions</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-ship"></i>
                <span>Vessel</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header">Vessel Records</h6>
                <a class="dropdown-item" asp-controller="Vessel" asp-action="Index">Manage Vessels</a>
                 <a class="dropdown-item" asp-controller="Vessel" asp-action="Archived">Archived Vessels</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-plus"></i>
                <span>Request</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header">Principal Request</h6>
                <a class="dropdown-item" asp-controller="Request" asp-action="Index">Manage Requests</a>
            </div>
        </li>
         <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-anchor"></i>
                    <span>Embarkation</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Embarkation</h6>
                    <a class="dropdown-item" href="login.html">Manage Embarkation</a>
                </div>
        </li>
         <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-file"></i>
                    <span>Reports</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Reports</h6>
                    <a class="dropdown-item" href="login.html">Applicant Report</a>
                    <a class="dropdown-item" href="login.html">Request Report</a>
                    <a class="dropdown-item" href="login.html">Embarkation Report</a>
                </div>
        </li>
      <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Users</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Users</h6>
                    <a class="dropdown-item" asp-controller="User" asp-action="Index">User Accounts</a>
                </div>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Body Here -->
            <!-- Breadcrumbs-->


            @* <ol class="breadcrumb"> *@
            @*     <li class="breadcrumb-item"> *@
            @*         <a href="#">Dashboard</a> *@
            @*     </li> *@
            @*     <li class="breadcrumb-item active">Overview</li> *@
            @* </ol> *@

            <partial name="_CookieConsentPartial"/>
            <main role="main" class="pt-2">
                @RenderBody()
            </main>


        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Sea World Maritime Corporation </span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/sb-admin.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>