@{
    ViewData["Title"] = "Users";
    Layout = "_DashboardLayout";
}

<div class="container-fluid">
    <h3> Users </h3>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-success" data-toggle="modal" data-target="#addModal"><i class="fas fa-fw fa-plus"></i> Add New User</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">

            <table id="usersTable" class="display">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Date Created</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Archive Modal -->
<div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="archiveModalLabel">Archive User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to archive user?
                <input type="hidden" id="userId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="archiveBtn" class="btn btn-danger">Archive</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Document Type  Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Create New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for=""> First Name </label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name">
                        </div>
                        <div class="col">
                            <label for=""> Last Name </label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for=""> Email </label>
                            <input type="text" class="form-control" id="email" placeholder="First Name">
                        </div>
                        <div class="col">
                            <label for=""> Password </label>
                            <input type="password" class="form-control" id="password" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for=""> Role </label>
                            <select id="role" class="form-control">
                                <option value="Admin">Admin</option>
                                <option value="HR">HR</option>
                                <option value="Operations">Operations</option>
                                <option value="Principal">Principal</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="createBtn" class="btn btn-success" disabled>Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Update User Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <input type="hidden" id="userIdToUpdate">
                        <div class="col">
                            <label for=""> First Name </label>
                            <input type="text" class="form-control" id="update_firstName" placeholder="First Name">
                        </div>
                        <div class="col">
                            <label for=""> Last Name </label>
                            <input type="text" class="form-control" id="update_lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for=""> Email </label>
                            <input type="text" class="form-control" id="update_email" placeholder="First Name">
                        </div>
                        <div class="col">
                            <label for=""> Current Password </label>
                            <input type="password" class="form-control" id="update_currentPassword" placeholder="Last Name">
                        </div>
                         <div class="col">
                                <label for="">New Password </label>
                                <input type="password" class="form-control" id="update_password" placeholder="Last Name">
                            </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for=""> Role </label>
                            <select id="update_role" class="form-control">
                                <option value="Admin">Admin</option>
                                <option value="HR">HR</option>
                                <option value="Operations">Operations</option>
                                <option value="Principal">Principal</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="updateBtn" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>

</div>


<script >
    function archiveUser(id, callback){
         $.ajax({
                type: 'GET',
                url: "/api/User/ArchiveUser?id=" + id,
                contentType: 'application/json; charset=utf-8',
                success: callback,
                error: function(err){
                    console.log(err);
                }
        });
    }
    
    
    function createUser(data, callback){
       $.ajax({
            type: 'POST',
            url: '/api/User/AddUser',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(data),
            success: callback,
            error: function(err){
                console.log(err);
            }
       });
    }
    
    
     function updateUser(data, callback){
           $.ajax({
                type: 'POST',
                url: '/api/User/UpdateUser',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(data),
                success: callback,
                error: function(err){
                    console.log(err);
                }
           });
        }
    
    
    function getUsers(callback){
        $.ajax({
            type: 'GET',
            url: "/api/User/GetUsers",
            contentType: 'application/json; charset=utf-8',
            success: callback,
            error: function(err){
                console.log(err);
            }
        });
    }
    
    function getUserData(id, callback){
         $.ajax({
            type: 'GET',
            url: "/api/User/GetUser?id="+id,
            contentType: 'application/json; charset=utf-8',
            success: callback,
            error: function(err){
                console.log(err);
            }
        });
    }
    
    
     function initDataTable(data){
            for(var i = 0; i < data.length; i++){
                if(data[i].role === "Admin"){
                    data[i].controls = "<button class='btn btn-outline-danger archive' data-id='"+ data[i].id +"' disabled> Archive </button> " +
                                                       "<button class='btn btn-outline-secondary update' data-id='" + data[i].id + "'> Update </button>";
                }else{
                data[i].controls = "<button class='btn btn-outline-danger archive' data-id='"+ data[i].id +"'> Archive </button> " +
                                   "<button class='btn btn-outline-secondary update' data-id='" + data[i].id + "'> Update </button>";
                
                }
            }
            $("#usersTable").DataTable({
                data: data,
                columns: [
                    { "data": "firstName" },
                    { "data": "lastName" },
                    { "data": "role" },
                    { "data": "email" },
                    { "data": "dateCreated" },
                    { "data": "controls"}
                ],
                destroy: true,
                drawCallback: function(settings){
                    $(".archive").off();
                    $(".archive").click(function(){
                       var id = $(this).data('id');
                       $("#userId").val(id);
                       $("#archiveModal").modal("show");
                    });
                    
                    $(".update").off();
                    $(".update").click(function(){
                        var id = $(this).data('id');
                        $("#userIdToUpdate").val(id);
                        
                        getUserData(id, function(user)
                        {
                            $("#update_firstName").val(user.firstName);
                            $("#update_lastName").val(user.lastName);
                            $("#update_email").val(user.email);
                            $("#updateModal").modal('show');
                        });
                        
                    });
                }      
            });
           
        }
    
    function init(){
        getUsers(function(data){
            console.log(data);
            initDataTable(data);
        });
    }
    
    init();
    
    $("#addModal input").keyup(function() {
        if($("#firstName").val().length === 0 || 
           $("#lastName").val().length === 0 || 
           $("#email").val().length === 0 || 
           $("#password").val().length === 0 || 
           $("#role").val().length === 0){
                $("#createBtn").prop('disabled', true);
           }else{
                $("#createBtn").prop('disabled', false);
           }
    });
    
    $("#createBtn").click(function(){
        $(this).prop('disabled', true);
        $(this).text('Creating...');
        
        var data = {
            firstName: $("#firstName").val(),
            lastName: $("#lastName").val(),
            email: $("#email").val(),
            password: $("#password").val(),
            role: $("#role").val()
        };
        
        createUser(data, function(res){
            if(res.message === "Success"){
                setTimeout(function(){
                    $(this).prop('disabled', true);
                    $(this).text('Creating...');
                    init();            
                    $("#addModal").modal('hide');
                }, 500);
            }
        })
    });
    
    $("#archiveBtn").click(function(){
       archiveUser($("#userId").val(), function(res){
          if(res.message === "Success"){
              $("#archiveModal").modal('hide');
              init();
          } 
       });
    });
    
    $("#updateBtn").click(function(){
        $(this).prop('disabled', true);
        $(this).text('Updating...');
        var data = {
            id: $("#userIdToUpdate").val(),
            firstName: $("#update_firstName").val(),
            lastName: $("#update_lastName").val(),
            email: $("#update_email").val(),
            password: $("#update_password").val(),
            currentPassword: $("#update_currentPassword").val(),
            role: $("#update_role").val()
        };
        
        updateUser(data, function(res){
            if(res.message === "Success"){
                setTimeout(function(){
                    $("#updateBtn").prop('disabled', false);
                    $("#updateBtn").text('Update');
                    init();            
                    $("#updateModal").modal('hide');
                }, 500);
            }
        });
    });
    
</script>