@model swmc.ViewModels.ApplicantReport;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_DashboardLayout";
}
<div class="container-fluid">
    <h3> Applicant Report </h3>
    <div class="row">
        <form action="">
             <div class="col-6">
                          <div class="row mt-2">
                                <div class="col">
                                    <label for="">Date From</label>            
                                    <input type="date" class="form-control" asp-for="DateFrom">
                                </div>
                                <div class="col">
                                    <label for="">Date To</label>                        
                                    <input type="date" class="form-control" asp-for="DateTo">
                                </div>
                            </div>
                            
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="">Applicant Status</label>
                                    <select asp-for="ApplicantStatus" class="form-control">
                                        <option value="0">Active</option>
                                        <option value="1">Embarked</option>
                                        <option value="2">Archived</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="">Generate Report</label>
                                    <button class="btn btn-success">Download Report</button>
                                </div>
                            </div>
                    </div>
        </form>
    </div>
  
</div>