@model swmc.ViewModels.RequestReport;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_DashboardLayout";
}
<div class="container-fluid">
    <h3> Request Report </h3>
    <div class="row">
        <form asp-action="_ApplicantReport" method="post">
             <div class="col-6">
                          <div class="row mt-2">
                                <div class="col">
                                    <label for="">Date From</label>            
                                    <input type="date" class="form-control" asp-for="DateFrom">
                                </div>
                                <div class="col">
                                    <label for="">Date To</label>                        
                                    <input type="date" class="form-control" asp-for="DateTo">
                                </div>
                            </div>
                    </div>
        </form>
    </div>
  
</div>