@{
    ViewData["Title"] = "Applicants";
    Layout = "_DashboardLayout";
}

<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="container-fluid">
    <h3> Embark </h3>
    <div class="row pt-2 pb-5">
        <div class="col">
            <form>
                <div class="row">
                    <div class="col-12">
                        <label for=""> Request </label>
                        @* <input type="text" class="form-control" id="documentTypeName" placeholder="Document Type Name"> *@
                        <select name="" id="requests" class="form-control" style="width: 100%">
                        </select>
                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col">
                        <label for=""> Request Details </label>
                        <div class="row">
                            <div class="col-6">
                                <dl class="dl-horizontal">
                                    <dt>Destination</dt>
                                    <dd id="destination"></dd>
                                    <dt>Vessel Name</dt>
                                    <dd id="vesselName"></dd>
                                    <dt>Start Date</dt>
                                    <dd id="startDate"></dd>
                                </dl>
                            </div>
                            <div class="col-6">
                                <dl class="dl-horizontal">
                                    <dt>Principal</dt>
                                    <dd id="principal"></dd>
                                    <dt>Vessel Abbr</dt>
                                    <dd id="vesselAbr"></dd>
                                    <dt>End Date</dt>
                                    <dd id="endDate"></dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h5> Requirements </h5>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6> Position </h6>
                            </div>
                            <div class="col-1">
                                <h6> Qty </h6>
                            </div>
                            <div class="col-5">
                                <h6> Skills </h6>
                            </div>
                            <div class="col-4">
                                <h6> Applicant </h6>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col requirements">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <a  class="btn btn-secondary" asp-controller="Embarkation" asp-action="Index">Back</a>
                        <button type="button" id="createBtn" class="btn btn-success">Embark</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script >
     var positions;
     var skills;
     var requests;
     
     function updateSelected(){
        getRequest(function(request){
            var id = $("#requests").val();
            var selected = request.filter(function(req) {
                return req.requestId === parseInt(id); 
            });
            
            console.log(selected);
            
            if(selected.length > 0){
                $("#vesselName").html(selected[0].vessel.vesselName);
                $("#destination").html(selected[0].destination);
                $("#vesselAbr").html(selected[0].vessel.vesselAbr);
                $("#principal").html(selected[0].vessel.principal);
                $("#startDate").html(moment(selected[0].startDate).format('LLL'));
                $("#endDate").html(moment(selected[0].endDate).format('LLL'));
            }
            var requirements = selected[0].requirements;
            
           $(".requirements").html('');
                

            for(var i = 0; i < requirements.length; i++){
                console.log(requirements[i]);
                
                var skillsText = "";
                
                for(var j = 0; j < requirements[i].skills.length; j++){
                     if((j + 1) === requirements[i].skills.length){
                        skillsText +=  requirements[i].skills[j].skillType.skillName + "";
                    }else{
                        skillsText += requirements[i].skills[j].skillType.skillName + ", ";
                    }
                }
                
     
                $(".requirements").append(
                    " <div class=\"row border-top py-2\">\n"+
                     "    <div class=\"col-2\">\n"+
                     "        <span>" + requirements[i].position.positionName +" </span>\n"+
                     "    </div>\n"+
                     "    <div class=\"col-1\">\n"+
                     "        <span>"+ requirements[i].quantity +"</span>\n"+
                     "    </div>\n"+
                     "    <div class=\"col-5\">\n"+
                     "        <span>" + skillsText + " </span>\n"+
                     "    </div>\n"+
                     "    <div class=\"col-4\">\n"+
                     "        <span> Applicant </span>\n"+
                     "    </div>\n"+
                     "</div>"
                );
            }
            
        });
     }
      
     
     getRequest(function(request){
 
        for(var i = 0; i < request.length; i++)
        {
             var date = moment(request[i].startDate).format('LL');
             $("#requests").append(
                    "<option value='"+request[i].requestId+"'> "+ request[i].vessel.vesselName + " (" + request[i].destination +") " + date + "</option>"
             );
             
             $("#requests").select2();
 
        }
                   
        updateSelected();
         $("#requests").on('change', updateSelected);
     });
     
    
     
     getPositions(function(res) {
        positions = res;
     });
     
     getSkills(function(res){
        skills = res; 
     });
     
     $("#addNew").click(function(e){
            e.preventDefault();
            var options = "";
            var skillOptions = "";
            
            for(var i = 0; i < positions.length; i++){
                options += "<option value='" + positions[i].positionId + "'> " + positions[i].positionName + "</option>";
            }
            
            for(var i = 0; i < skills.length; i++)
            {
                skillOptions += "<option value='" + skills[i].skillId + "'>" + skills[i].skillName + "</option>";
            }
            
            var select = "<select class='form-control position'>" + options + "</select>";
            
            var skillsSelect = "<select class='form-control skills'  name=\"states[]\" multiple=\"multiple\">" + skillOptions + "</select>";
            
            
           $(".requirements").append(
                "<div class='row mt-2'>" +
                 "<div class='col-3'>" +
                   select +     
                 "</div>" +
                 "<div class='col-2'>" +
                  "<input type='number' class='form-control qty' placeholder='Qty.'>" +
                 "</div>" +
                 "<div class='col-5'>" +
                    skillsSelect + 
                 "</div>" +
                 "<div class='col-2'>" +
                  "<button class='btn btn-danger remove'><i class='fas fa-trash'></button>" +
               "</div>"+
                "</div>"
           ); 
           
           $(".skills").select2();
           
           $(".remove").off();
           
           $(".remove").click(function(){
               $(this).parent().parent().remove();
           })
     });
    

     var table;
        function format ( d ) {
           return "<p> Test <p>";
        }
        
    function archiveRequest(requestId, callback){
        $.ajax({
            type: 'GEt',
            url: '/api/Request/ArchiveRequest?requestId=' + requestId,
            contentType: 'application/json; charset=utf-8',
            success: callback,
            error: function(err){
            }
        })
    }
    
    function getPositions(callback){
          $.ajax({
            type: 'GEt',
            url: '/api/Applicant/GetPositions',
            contentType: 'application/json; charset=utf-8',
            success: callback,
            error: function(err){
                console.log(err);
            }
          });
    }
    
    function getRequest(callback){
        $.ajax({
            type: 'GET',
            url: '/api/Request/GetRequests',
            contentType: 'application/json; charset=utf-8',
            success: callback,
            error: function(err){
                console.log(err);
            }
          });
    }
    
    function getSkills(callback){
              $.ajax({
                type: 'GEt',
                url: '/api/Applicant/GetSkills',
                contentType: 'application/json; charset=utf-8',
                success: callback,
                error: function(err){
                    console.log(err);
                }
              });
        }
    
    function initDataTable(data){
        for(var i = 0; i < data.length; i++){
            data[i].destination = data[i].request.destination;
            data[i].startDate = moment(data[i].request.startDate).format('LL');
            data[i].endDate = moment(data[i].request.endDate).format('LL');
            data[i].vesselName = data[i].request.vessel.vesselName;

        }
        table = $("#embarkationsTable").DataTable({
            data: data,
            columns: [
                 {
                    "className":      'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                { "data": "embarkationId"},
                { "data": "vesselName" },
                { "data": "destination" },
                { "data": "startDate" },
                { "data": "endDate" }
            ],
            destroy: true,
            drawCallback: function(settings){
                $(".archive").off();
                $(".archive").click(function(){
                   var id = $(this).data('id');
                   $("#requestToArchive").val(id);
                   $("#archiveModal").modal("show");
                });
            }      
        });
       
    }
    
    function getData(callback){
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/api/Embarkation/GetEmbarkations',
            success: function(data){
                callback(data);
            },
            error: function(err){
                console.log(err);
            }
        })
    }
    
    function getVessel(callback){
        $.ajax({
            type: 'GET',
            url: '/api/Vessel/GetVessels',
            dataType: 'json',
            success: callback,
            error: function(err){
                console.log(err);
            }
        })
    }
    
    
    function init(){
          getData(function(data){
                console.log(data);
                initDataTable(data);
                $('#embarkationsTable tbody').off();
                $('#embarkationsTable tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row( tr );
                        if ( row.child.isShown() ) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                        }
                        else {
                            // Open this row
                            row.child( format(row.data()) ).show();
                            tr.addClass('shown');
                        }
                    } );
            });
    }
    
    function addRequest(data, callback){
        $.ajax({
            type: 'POST',
            url: '/api/Request/AddRequest',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success: callback,
            error: function(err){
            }
        });
    }
  
    
    $("#archiveBtn").click(function(){
       $(this).html("Archiving...");
       $(this).prop('disabled', true);
       setTimeout(function(){
           archiveRequest($("#requestToArchive").val(), function(res){
                console.log(res); 
                if(res.message === "Success"){
                    $(this).html("Archive");
                    $(this).prop('disabled', false) ;
                    $("#archiveModal").modal("hide");
                    init();
                }
           });
       }, 500);
    });
    
    $("#createBtn").click(function(){
         $(this).prop('disabled', true);
         $(this).html("Creating...");
         
         var requirementsLength = $(".requirements .row").length - 1;
         var requirements = [];
         
         for(var i = 0; i < requirementsLength; i++)
         {
            var skills = [];
            var selectedSkills = $($(".skills")[i]).val();
            
            
            for(var j = 0; j < selectedSkills.length; j++)
            {
                skills.push({
                    skillId: selectedSkills[j]
                });
            }
            
            
             
            requirements.push(
                {
                    positionId: $($(".position")[i]).val(),
                    quantity: $($(".qty")[i]).val(),
                    skills: skills
                }
            ); 
            
            console.log($($(".position")[i]).val());
         }
         
         var data = {
             vesselId: $("#vesselId").val(),
             destination: $("#destination").val(),
             operationStartDate: $("#operationStartDate").val(),
             operationEndDate: $("#operationEndDate").val(),
             remarks: $("#remarks").val(),
             requirements: requirements
         };
         
         console.log(data);
         
         addRequest(data, function(res){
              if(res.message === "Success"){
                    $(this).prop('disabled', false);
                    $(this).html("Create");
                    $("#embarkModal").modal("hide");
                    init();
              } 
         });
         
    });
    //
    // $("#addModal input").keyup(function(){
    //     if($("#documentTypeName").val().length > 0 &&
    //        $("#issuer").val().length > 0){
    //         $("#createBtn").prop("disabled", false);
    //     }else{
    //         $("#createBtn").prop("disabled", true);
    //     }
    // });
    
    

    getVessel(function(res){
        console.log(res);
        for(var i = 0; i < res.length; i++){
            $("#vesselId").append(
                "<option value='"+ res[i].vesselId +"'>" + res[i].vesselName + "</option>"
            );
        }
    });
    
    init();
</script>