@{
    ViewData["Title"] = "Manage Vessel";
    Layout = "_DashboardLayout";
}

<!-- Modal Form -->
<div class="modal fade" id="addVesselForm" tabindex="-1" role="dialog" aria-labelledby="addVesselFormTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addVesselFormTitle">Add Vessel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                              <div class="row">
                                  <div class="col-md-4">
                                      <label class="text-dark"> Vessel Name </label>
                                      <input type="text" class="form-control form-control-user" placeholder="Vessel Name">
                                  </div>
                                  <div class="col-md-4">
                                      <label class="text-dark"> Principal </label>
                                      <input type="text" class="form-control form-control-user" placeholder="Principal">
                                  </div>
                                  <div class="col-md-4">
                                      <label class="text-dark"> Flag </label>
                                      <input type="text" class="form-control form-control-user"  placeholder="Flag">
                                  </div>
                              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add Vessel </button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <h3> Manage Vessel </h3>

    <div class="row mt-4">
        <div class="col">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addVesselForm">
                <i class="fas fa-fw fa-plus"></i>
                Add Vessel
            </button>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col">

            <table id="vesselTable" class="display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Vessel Name</th>
                    <th>Principal</th>
                    <th>Gross Tonnage</th>
                </tr>
                </thead>
                <tbody>
               
                </tbody>
            </table>
        </div>
    </div>
</div>


<script >
    function initDataTable(data){
        $("#vesselTable").DataTable({
            data: data,
            columns: [
                { "data": "vesselId" },
                { "data": "vesselName" },
                { "data": "principal" },
                { "data": "grossTonnage" }
            ],
            destroy: true            
        });
    }
    
    function getData(callback){
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/api/Vessel',
            success: function(data){
                callback(data);
            },
            error: function(err){
                console.log(err);
            }
        })
    }
    
    getData(function(data){
        console.log(data);
        initDataTable(data);
    });
    
</script>