@{
    ViewData["Title"] = "Manage Vessel";
    Layout = "_DashboardLayout";
}

<!-- Modal Form -->
<div class="modal fade" id="addVesselForm" tabindex="-1" role="dialog" aria-labelledby="addVesselFormTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addVesselFormTitle">Add Vessel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                              <div class="row">
                                  <div class="col-md-4">
                                      <label class="text-dark"> First Name </label>
                                      <input type="text" class="form-control form-control-user" placeholder="First Name">
                                  </div>
                                  <div class="col-md-4">
                                      <label class="text-dark"> Last Name </label>
                                      <input type="text" class="form-control form-control-user" placeholder="Last Name">
                                  </div>
                                  <div class="col-md-4">
                                      <label class="text-dark"> Middle Name </label>
                                      <input type="text" class="form-control form-control-user"  placeholder="Middle Name">
                                  </div>
                              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <h3> Manage Vessel </h3>

    <div class="row mt-4">
        <div class="col">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addVesselForm">
                <i class="fas fa-fw fa-plus"></i>
                Add Vessel
            </button>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col">

            <table id="vesselTable" class="display">
                <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script >
    $("#vesselTable").DataTable();
</script>